body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}
html{
  width: 100%;
  height: 100%;
}
#root{
  height: 100%;
}
.wrapperX{
  width: 100%;
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Loadingwrapper{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
}
.info{
  background:coral;
  color:darkcyan;
  display: flex;
  justify-content: center;
}
.red{
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
color:red;
font-size: 12px;
transform: translateX(0%);
background: black;
transition-duration: 1s;
transition-timing-function: linear;
position: absolute;
z-index: 3;
}
.creature { 
  width:  200px;
  height: 200px;
  border-radius: 50%;
  background: #3ac;
  position: relative;
 }
 .creature::before, .creature::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 40px;
  border-radius: 50%;
  background: #000;
  top: 40px;
  animation: eye 0.5s ease-in-out infinite;
 }

 .creature::before { left: 55px; }
 .creature::after { right: 55px; }
 @keyframes eye {
  90% { transform: none; }   
  95% { transform: scaleY(0.1); }
 }
input:focus{
  border: 1px solid black;
}
.unactive{
  margin: 5px;
  border: 5px solid blue;
}
.active{
  margin: 5px;
  border:5px solid green;
}
.blue{
  position: absolute;
  display: inline-block;
  transition-duration: 1s;
  transition-timing-function: linear;
  transform: translateX(-105%);
 transition-timing-function: linear;
  margin-left: 0;
  width: 50vw;
  height: 50vh;
  border: 1px solid black;
  color:green;
  z-index: 3;
}
.btn {
  margin-left: 10px;
  color: greenyellow;
  background: black;
  border-radius: 1px 16px 5px 17px;
}